<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="jumbotron">
            <h1>Powerball Ticket Generator</h1>
        </header>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
